flows.json
[{"id":"b9192856.24d008","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"410cc533.9717ac","type":"ui_tab","z":"","name":"Egg Incubator","icon":"dashboard","disabled":false,"hidden":false},{"id":"849c414a.4d72","type":"ui_group","z":"","name":"Sensor","tab":"410cc533.9717ac","order":2,"disp":true,"width":"7","collapse":false},{"id":"5c819f32.c671a","type":"mqtt-broker","z":"","name":"Broker Egg","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18862782.1ea598","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"99e81fbc.4521f","type":"ui_group","z":"","name":"Condition","tab":"410cc533.9717ac","order":1,"disp":true,"width":"7","collapse":false},{"id":"2dc6815a.242d5e","type":"ui_group","z":"","name":"Analytics","tab":"410cc533.9717ac","order":3,"disp":true,"width":"7","collapse":false},{"id":"72bd578d.b46988","type":"firebase config","z":"","firebaseurl":"egg-incubator","loginType":"none"},{"id":"ba2cae9.b41915","type":"ui_spacer","name":"spacer","group":"99e81fbc.4521f","order":1,"width":1,"height":1},{"id":"85c7ac8e.abfa9","type":"ui_spacer","name":"spacer","group":"849c414a.4d72","order":2,"width":1,"height":1},{"id":"3836356d.6df1fa","type":"camerapi-takephoto","z":"b9192856.24d008","filemode":"1","filename":"photo1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"9","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"100","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take Photo","x":450,"y":500,"wires":[["a86a57c4.190578","88afcfa6.81d59"]]},{"id":"71bcf199.28b02","type":"ui_template","z":"b9192856.24d008","group":"99e81fbc.4521f","name":"Camera","order":1,"width":0,"height":0,"format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Check Condition<br>\n</md-button>\n\n<div style=\"margin-bottom:40px;\">\n <img src=\"/photo1.JPEG\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200,"y":500,"wires":[["3836356d.6df1fa"]]},{"id":"a86a57c4.190578","type":"debug","z":"b9192856.24d008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":500,"wires":[]},{"id":"1d63278a.4e76f8","type":"ui_gauge","z":"b9192856.24d008","name":"Temp","group":"849c414a.4d72","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"℃","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":280,"wires":[]},{"id":"fb19a69c.25fef8","type":"ui_gauge","z":"b9192856.24d008","name":"Humidity","group":"849c414a.4d72","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%RH","format":"{{value}}","min":"20","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":340,"wires":[]},{"id":"f972a23e.172db","type":"mqtt in","z":"b9192856.24d008","name":"Temp","topic":"house/temperature","qos":"2","datatype":"auto","broker":"5c819f32.c671a","x":190,"y":280,"wires":[["1d63278a.4e76f8","ff5698d6.31b918","edf63e82.7e353","9abad251.aae","d60fd2b6.b31a"]]},{"id":"f654e7e8.896f98","type":"mqtt in","z":"b9192856.24d008","name":"Hum","topic":"house/humidity","qos":"2","datatype":"auto","broker":"5c819f32.c671a","x":190,"y":340,"wires":[["fb19a69c.25fef8","ff5698d6.31b918","c11072a3.c2f88"]]},{"id":"621ab2db.17c68c","type":"mqtt in","z":"b9192856.24d008","name":"Relay Status","topic":"house/bulbs/bulb1","qos":"0","datatype":"auto","broker":"5c819f32.c671a","x":210,"y":400,"wires":[["274bd8de.c13668","aa00d80c.1f3038"]]},{"id":"ff5698d6.31b918","type":"ui_chart","z":"b9192856.24d008","name":"Chart","group":"2dc6815a.242d5e","order":2,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":220,"wires":[[]]},{"id":"5396e59e.616b2c","type":"mqtt out","z":"b9192856.24d008","name":"Relay","topic":"house/bulbs/bulb1","qos":"0","retain":"","broker":"5c819f32.c671a","x":910,"y":700,"wires":[]},{"id":"edf63e82.7e353","type":"switch","z":"b9192856.24d008","name":"Check Temperature","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"35","vt":"str"},{"t":"gt","v":"39","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":280,"wires":[["d1c6d7c1.99af08"],["12482684.ea2419"]]},{"id":"9a619248.67cb2","type":"ui_toast","z":"b9192856.24d008","position":"top right","displayTime":"3","highlight":"transparent","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Notification","name":"","x":1310,"y":300,"wires":[]},{"id":"d7c92f40.e5a79","type":"change","z":"b9192856.24d008","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperatur diatas 39 derajat, mematikan lampu!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["b870aaf8.4403d8"]]},{"id":"708d6a7a.db55b4","type":"change","z":"b9192856.24d008","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperatur dibawah 35 derajat, menyalakan lampu!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":260,"wires":[["a68ecc8.b2e113"]]},{"id":"233b5309.db4fbc","type":"ui_toast","z":"b9192856.24d008","position":"top right","displayTime":"3","highlight":"transparent","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Notification","name":"","x":1310,"y":260,"wires":[]},{"id":"12482684.ea2419","type":"delay","z":"b9192856.24d008","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":300,"wires":[["d7c92f40.e5a79"]]},{"id":"d1c6d7c1.99af08","type":"delay","z":"b9192856.24d008","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":260,"wires":[["708d6a7a.db55b4"]]},{"id":"b870aaf8.4403d8","type":"function","z":"b9192856.24d008","name":"","func":"var topic = msg.payload;\nsetTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    if(topic > 31){\n        msg.payload = \"Temperatur diatas 30 derajat, mematikan lampu!\";\n    }\n    node.send(msg);\n}, 3000);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});","outputs":1,"noerr":0,"x":1150,"y":300,"wires":[["9a619248.67cb2"]]},{"id":"a68ecc8.b2e113","type":"function","z":"b9192856.24d008","name":"","func":"var topic = msg.payload;\nsetTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    if(topic < 28){\n        msg.payload = \"Temperatur dibawah 28 derajat, menyalakan lampu!\";\n    }\n    node.send(msg);\n}, 3000);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});","outputs":1,"noerr":0,"x":1150,"y":260,"wires":[["233b5309.db4fbc"]]},{"id":"9abad251.aae","type":"firebase modify","z":"b9192856.24d008","name":"Temp","firebaseconfig":"72bd578d.b46988","childpath":"DHT11/temp","method":"set","value":"msg.payload","priority":"msg.priority","x":430,"y":640,"wires":[[]]},{"id":"c11072a3.c2f88","type":"firebase modify","z":"b9192856.24d008","name":"Humi","firebaseconfig":"72bd578d.b46988","childpath":"DHT11/humi","method":"set","value":"msg.payload","priority":"msg.priority","x":430,"y":580,"wires":[[]]},{"id":"88afcfa6.81d59","type":"firebase modify","z":"b9192856.24d008","name":"Camera","firebaseconfig":"72bd578d.b46988","childpath":"camera/status","method":"set","value":"msg.payload","priority":"msg.priority","x":640,"y":440,"wires":[[]]},{"id":"274bd8de.c13668","type":"firebase modify","z":"b9192856.24d008","name":"Relay","firebaseconfig":"72bd578d.b46988","childpath":"relay/status","method":"set","value":"msg.payload","priority":"msg.priority","x":430,"y":440,"wires":[[]]},{"id":"aa00d80c.1f3038","type":"ui_text","z":"b9192856.24d008","group":"2dc6815a.242d5e","order":1,"width":0,"height":0,"name":"","label":"Lamp Status","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":400,"wires":[]},{"id":"d60fd2b6.b31a","type":"switch","z":"b9192856.24d008","name":"Status","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"35","vt":"str"},{"t":"gt","v":"39","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":700,"wires":[["c9d7216b.e654a"],["eb12d9e9.a938f8"]]},{"id":"c9d7216b.e654a","type":"delay","z":"b9192856.24d008","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":680,"wires":[["14f6746d.5244ec"]]},{"id":"eb12d9e9.a938f8","type":"delay","z":"b9192856.24d008","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":720,"wires":[["fae1380a.10f3b8"]]},{"id":"14f6746d.5244ec","type":"change","z":"b9192856.24d008","name":"Set Relay On","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":680,"wires":[["5396e59e.616b2c"]]},{"id":"fae1380a.10f3b8","type":"change","z":"b9192856.24d008","name":"Set Relay Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":720,"wires":[["5396e59e.616b2c"]]}]